extends simpleHeader.pug


block header
  

block content




  
  .entry
    h1(class='bodyheading') Login
    form(method='POST' action='/login' id='loginForm')
              
              
              div
                
              
                
                label(for='email') Email: 
                input(type='email' id='email' placeholder='email' name='email')
                
                br
                br

                label(for='password') Password: 
                input(type='password' id='password' placeholder='password' name='password')
                br
                br
                br
                button(type='submit') Log in 