html(lang='en')
head
title LifeTrack
body
h1 Welcome to the User Area


form(method='POST' action='/users')
          
          
          div
            
           
            
            label(for='email') Email
            input(type='text' id='email' placeholder='email' name='email')
            
            br
            br

            label(for='password') Password
            input(type='password' id='password' placeholder='password' name='password')
          button(type='submit') Log in 