html(lang='en')
head
title LifeTrack
body
h1 Welcome to the User Area


form(method='POST' action='/addresses')
          
          
          div
            
           
            
            label(for='street') Street
            input(type='text' id='street' placeholder='street' name='street')
            
            br
            br

            label(for='city') City
            input(type='text' id='city' placeholder='city' name='city')

            br  
            br

            label(for='startDate') Start Date
            input(type='text' id='startDate' placeholder='start date' name='startDate')

            br  
            br

            label(for='endDate') End Date
            input(type='text' id='endDate' placeholder='end date' name='endDate')


          button(type='submit') Save new address