extends header.pug


block header
  -var buttonLink='/addresses'
  -var buttonText='Back to Addresses Without Saving'
  -var button2disabled='disabled'
  -var button2visibility='visibility:hidden'
  -var button3disabled='disabled'
  -var button3visibility='visibility:hidden'


block content
  br
  br
  br
  br
  br
  a(href='/restore') Dummy Data

  
  div(id="addressformcontainer")
    form(method='POST' action='/addresses' id='address_form')
          h1="Add New Address"
          
          div
            
           
            
            label(for='addressLineOne') Address: 
            input(type='text' id='addressLineOne' placeholder='Address' name='addressLineOne' maxlength='50' required readonly)
            button(id='dummyDataButton') Add dummy data to first five fields
            br
            br
            
            label(for='unitNo') Address Line 2 (Apt, Unit etc.): 
            input(type='text' id='unitNo' placeholder='Unit/Apt Number' name='unitNo' maxlength='20' readonly)
            
            br
            br


            label(for='city') City / Town: 
            input(type='text' id='city' placeholder='city' name='city' maxlength='50' required readonly)

            br  
            br
            
            label(for='state') State Abbreviation: 
            input(type='text' id='state' name='state' maxlength='2' required readonly)

            br  
            br
            
            label(for='zip') Zipcode: 
            input(type='text' id='zip' name='zip' maxlength="10" readonly)

            br  
            br


            label(for='notes') Notes (1000 character max): 
            br
            //- input(type='text' id='notes' placeholder='Notes.' name='notes')//
            textarea(id='notes' placeholder='notes' name='notes' rows='5' cols='60' maxlength="1000")
            

            br  
            br

            label(for='startDate') Start Date: 
            input(type='date' id='startDate' name='startDate')

            br  
            br

            label(for='endDate') End Date: 
            input(type='date' id='endDate' name='endDate')

            
            label(for='toPresent')                I'm still living here 
            
            input(type="checkbox" name="toPresent" value="toPresent" id='toPresent')


          button(type='submit' id='newaddressubmit') Save new address
          script(src="/scripts/new-address.js")