html
  head
    meta(meta name="viewport" content="width=device-width, initial-scale=1.0")
    title= "Life-Track"
    
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap" rel="stylesheet"> 
    link(rel="stylesheet" type="text/css" href="/styles/address-styles.css")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")

  body
    
    
    block header
    header
        a(id='clickableTitle' href='/')='Life-Track'
        
            
          

    block content
    block scripts
  

