extends simpleHeader.pug


block header
  

block content
  .entry
    h1(class='bodyheading')="Error"  
    .entryContent
        
        
        p(class='errorMessages')=message
        a(href=goback class='bar-button')=buttontext