html 
  head
    title= "Life-Track"
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap" rel="stylesheet"> 
    link(rel="stylesheet" type="text/css" href="/styles/address-styles.css")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")

  body
    
    header
      h1(id='title')='Life-Track'
      a(href='/new_address' class='bar-button') +Add address
      a(href='/logout' id='signout') Sign out
      i(class="material-icons md-48") account_circle 
    
    